@config "./tailwind.dashboard.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
        @apply inline-block px-6 py-2.5 rounded shadow-lg }

    .btn-primary{
        @apply 
        bg-blue-600
        text-white  text-sm 
        leading-tight  
        hover:bg-purple-700 hover:shadow-lg
        focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 
        active:bg-purple-800 active:shadow-lg 
        transition duration-150 ease-in-out
    }

    .sidebar-link {
        @apply relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium  duration-300 ease-in-out hover:bg-slate-500 
    }

    .dropdown-link {
        @apply py-1 relative flex items-center gap-2.5 rounded-md px-4 font-medium duration-300 ease-in-out hover:text-white hover:bg-blue-400 
    }
}